

body {
    /* height: 100%;
    height: auto; */
    background: url("../images/xWing.jpg") no-repeat;
    background-size: auto;
    /* background-position: center center; */
}


.characterBox {
    height: 105px;
    width: 130px;
    float: left;
    /* margin-right: 10px; */
    border: 2px solid green;
}

.characterName {
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

#title {
    text-align: center;
}


#obiwanPicture {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("../images/obiwan_image.png") no-repeat;
    background-size: cover;
}
#lukePicture {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("../images/luke_image.jpg");
    background-size: cover;
}
#maulPicture {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("../images/maul_image.jpeg");
    background-size: cover;
}
#vaderPicture {
    height: 100%;
    width: 100%;
    width: auto;
    margin: auto;
    background-image: url("../images/vader_image.jpg");
    background-size: cover;
}

.pictureContainer {
    height: 50px;
    width: 80px;
    margin: auto;
}

.textContainer {
    text-align: center;
    color: white;
}

.btn {
    margin-bottom: 15px;
}

.textResultsContainer {
    color: white;
    font-size: 16px;
}

#textResults1 {
    margin-bottom: 8px;
}