

.characterBox {
    height: 100px;
    width: 130px;
    float: left;
    /* margin-right: 10px; */
    border: 2px solid green;
}

.characterName {
    text-align: center;
    color: white;
}

#title {
    text-align: center;
}
